body{
  background-size:cover;
  overflow: hidden;
}
*{
  margin: 0;
  padding: 0;
}
#background{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -500;
}
#game
{
  width: 500px;
  height: 600px;
  margin: auto;
  background-color: #0002;
  display:none;
}

#block
{
  top:-100px;
  width: 100px;
  height: 100px;
  background-position: center;
  position: relative;
  animation: none;
  animation-timing-function:linear;
  transition-timing-function: ease-out;
}

#white
{
  width: 562px;
  height: 250px;
  margin-top:0;
  position: absolute;
  top: 600px;
  margin-left:-30px;
  z-index: 1000;
}
@keyframes slide {
  0% {top: -100px;}
  100% {top: 700px;}
}
#button
{
  width: 100px;
  height: 100px;
  opacity: 25%;
  position: relative;
  z-index:1;
  top: 400px;
  left: 100px;
}
#button1{
  width: 100px;
  height: 100px;
  background-color: green;
  background: url(img/bin1.png);
  background-size: 95px 95px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 300px;
  left: 0px;
  z-index: 1;
}
#button2{
  width: 100px;
  height: 100px;
  background-color: red;
  background: url(img/bin2.png);
  background-size: 95px 95px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 200px;
  left: 100px;
  z-index: 1;
}
#button3{
  width: 100px;
  height: 100px;
  background-color: blue;
  background: url(img/bin3.png);
  background-size: 95px 95px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 100px;
  left: 200px;
  z-index: 1;
}
#button4{
  width: 100px;
  height: 100px;
  background-color: red;
  background: url(img/bin5.png);
  background-size: 95px 95px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0px;
  left: 300px;
  z-index: 1;
}
#button5{
  width: 100px;
  height: 100px;
  background-color: orange;
  background: url(img/bin4.png);
  background-size: 95px 95px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -100px;
  left: 400px;
  z-index: 1;
}
#score{
  font-size: 25px;
  color:black;
  position:absolute;
  z-index: 1001;
  right:50%;

}
#live{
  font-size: 25px;
  color:black;
  position:relative;
  z-index: 1001;

}

#minutes{
  font-size: 25px;
  color:black;
  position:absolute;
  z-index: 1001;

}
#seconds{
  font-size: 25px;
  color:black;
  position:absolute;
  margin-left:30px;
  z-index: 1001;

}
#minutes2{
  font-size: 25px;
  color:black;
  position:absolute;
  z-index: 1001;

}
#seconds2{
  font-size: 25px;
  color:black;
  position:absolute;
  margin-left:30px;
  z-index: 1001;

}
svg{
  background:#87CEEB;
  position:absolute;
  z-index:-500;
}

#board {
  width: 520px;
  height: 220px;
  border-radius: 50px;
  display:none;
  top: 50%;
  left: 50%;
  position:fixed;
  transform: translate(-50%, -50%);
  background-color: #D3D3D3;
  border: 10px solid #BEBEBE;
}
h1{
  text-align: center;
  color:#B22222;
}
#text1{
  margin: 25px;
  margin-left:50px;
  display: inline-block;
}
#text2{
  margin-left: 50px;
  display: inline-block;
}
#score2{
  display: inline-block;
}
#time2{
  display: inline-block;
}
#link {
  text-decoration:none;
  font-size:20px;
  border: 2px solid #1a3131;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  color:#1a3131;
  margin:70px;
  background: #bbc7cc;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top:100px;
  left:0px;
}
#link:hover {
  color:#FFFFFF;
  background-color:#1a3131;
}
#link:active{
  transform: scale(0.90);
}
iframe{
  position: absolute;
  opacity: 0;
}
#menu{
  position: absolute;
}
#logo{
  width: 40vw;
  top:0.5vh;
  margin-left:30vw;
  position: relative;
  animation: size_logo 1s alternate infinite;
}
@keyframes size_logo{
  0% {transform: scale(1);}
  100% {transform: scale(1.03);}
}

#howtoplay{
  width:800px;
  height:600px;
  border-radius: 50px;
  background-color: #D3D3D3;
  border: 10px solid #BEBEBE;
  font-family: 'Prompt', sans-serif;
  display:none;
  margin:auto;
}
#back{
  text-decoration:none;
  font-size:20px;
  height:50px;
  width:100px;
  border: 2px solid #1a3131;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  color:#1a3131;
  background: #bbc7cc;
  font-family: 'Poppins', sans-serif;
  position: relative;
  margin:10px;
  left:85%;
}
#back:hover{
  color:#FFFFFF;
  background-color:#1a3131;
}
#back:active{
  transform: scale(0.90);
}
#menubut{
  text-decoration:none;
  font-size: 20px;
  border: 2px solid #1a3131;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  color:#1a3131;
  margin:70px;
  background: #bbc7cc;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top:100px;
  left:250px;
}
#menubut:hover{
  color:#FFFFFF;
  background-color:#1a3131;
}
#menubut:active{
  transform: scale(0.90);
}

#countdown{
  position: absolute;
  left: 48%;
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
}
#live{
  font-size: 25px;
  width: 90px;
  color:black;
  position:relative;
  z-index: 1001;
  border: 2px solid #1a3131;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  background-color: white;
  top: -110%;
  left: -35%;
}
#time{
  font-size: 25px;
  width: 70px;
  height: 30px;
  color:black;
  position:relative;
  z-index: 1001;
  border: 2px solid #1a3131;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  background-color: white;
  top: -120%;
  left: 115%;
}
#score{
  font-size: 25px;
  color:black;
  width: 50px;
  border: 2px solid #1a3131;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  background-color: white;
  position:relative;
  z-index: 1001;
  top: -90%;
  left: -35%;
}
#play, #how, #web, #know{
  text-decoration:none;
  height:80px;
  width:220px;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: block;
  left: 45vw;
}
#play{
  font-size:20px;
  top: 5vh;
}
#how{
  font-size:15px;
  top:8vh;
}
#know{
  font-size:20px;
  top:11vh;
}
#web{
  font-size:20px;
  top:14vh;
}
button {
  text-transform:uppercase;
  width:200px;
  overflow:hidden;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border: 0px ;
}
button:hover .liquid{
  top:-120px;
}
button span{
  position:relative;
  z-index:1;
  color:rgb(0, 0, 0);
  font-size:20px;
  letter-spacing:8px;
}

button .liquid{
  position:absolute;
  top:-80px;
  left:0;
  width:220px;
  height:200px;
  background-color:#8ad4ff;
  box-shadow:inset 0 0 50px rgba(0,0,0,0.5);
  transition:0.5s;
}

button .liquid::before,button .liquid::after{
  content:"";
  position:absolute;
  width:200%;
  height:200%;
  top:0;
  left:50%;
  transform:translate(-50%,-72%);
}


button .liquid::before{
  border-radius:45%;
  background-color:rgba(255, 255, 255, 0.5);
  animation: wave 5s linear infinite;
}



button .liquid::after{
  border-radius:40%;
  background-color:rgba(255, 255, 255, 0.5);
  animation: wave 5s linear infinite;
}

@keyframes wave{
  0%{
    transform:translate(-50%,-72%) rotate(0deg); 
  }
  
  100%{
    transform:translate(-50%,-72%) rotate(360deg); 
  }
}
@keyframes hit {
  0% {transform: scale(1);
  }
  100% {transform: scale(1.25);
  }
}
@keyframes alarm {
  0% {transform: scale(1);
    background-color: pink;}
  100% {transform: scale(1.25);
    background-color: red;}
}
@keyframes alarm2 {
  0% {transform: scale(1);
    background-color: white;}
  100% {transform: scale(1.1);
    background-color: pink;}
}