body{
  background-size:cover;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
#background{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -500;
}
#game
{
  width: 500px;
  height: 600px;
  margin: auto;
  background-color: #0002;
  display:none;
}

#block
{
  top:-100px;
  width: 100px;
  height: 100px;
  background-position: center;
  position: relative;
  animation: none;
  animation-timing-function:linear;
  transition-timing-function: ease-out;
}

#white
{
  width: 562px;
  height: 250px;
  margin-top:0;
  position: absolute;
  top: 600px;
  margin-left:-30px;
  z-index: 1000;
}
@keyframes slide {
  0% {top: -300px;}
  100% {top: 700px;}
}
#button
{
  width: 100px;
  height: 100px;
  opacity: 25%;
  position: relative;
  z-index:1;
  top: 400px;
  left: 100px;
}
#button1{
  width: 100px;
  height: 100px;
  background-color: green;
  background: url(img/bin1.png);
  background-size: 95px 95px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 300px;
  left: 0px;
  z-index: 1;
}
#button2{
  width: 100px;
  height: 100px;
  background-color: red;
  background: url(img/bin2.png);
  background-size: 95px 95px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 200px;
  left: 100px;
  z-index: 1;
}
#button3{
  width: 100px;
  height: 100px;
  background-color: blue;
  background: url(img/bin3.png);
  background-size: 95px 95px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 100px;
  left: 200px;
  z-index: 1;
}
#button4{
  width: 100px;
  height: 100px;
  background-color: red;
  background: url(img/bin4.png);
  background-size: 95px 95px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0px;
  left: 300px;
  z-index: 1;
}
#button5{
  width: 100px;
  height: 100px;
  background-color: orange;
  background: url(img/bin5.png);
  background-size: 95px 95px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -100px;
  left: 400px;
  z-index: 1;
}
#score{
  font-size: 25px;
  color:black;
  position:absolute;
  z-index: 1001;
  right:50%;

}
#live{
  font-size: 25px;
  color:black;
  position:relative;
  z-index: 1001;
}
#minutes{
  font-size: 25px;
  color:black;
  position:absolute;
  z-index: 1001;
}
#seconds{
  font-size: 25px;
  color:black;
  position:absolute;
  margin-left:35px;
  z-index: 1001;
}
#minutes2{
  font-size: 25px;
  color:black;
  position:absolute;
  z-index: 1001;
  margin-left: 5px;
}
#seconds2{
  font-size: 25px;
  color:black;
  position:absolute;
  margin-left:40px;
  z-index: 1001;
}
svg{
  background:#87CEEB;
  position:absolute;
  z-index:-500;
}

#board {
  width: 520px;
  height: 220px;
  border-radius: 50px;
  display:none;
  top: 50%;
  left: 50%;
  position:fixed;
  transform: translate(-50%, -50%);
  background-color: #D3D3D3;
  border: 10px solid #BEBEBE;
}
h1{
  text-align: center;
  color:#B22222;
}
#text1{
  margin: 25px;
  margin-left:50px;
  display: inline-block;
}
#text2{
  margin-left: 50px;
  display: inline-block;
}
#score2{
  display: inline-block;
}
#time2{
  display: inline-block;
}
iframe{
  position: absolute;
  opacity: 0;
}
#menu{
  position: absolute;
}
#logo{
  width: 35vw;
  top:0.5vh;
  margin-left:35vw;
  position: relative;
  animation: size_logo 1s alternate infinite;
}
@keyframes size_logo{
  0% {transform: scale(1);}
  100% {transform: scale(1.03);}
}

#keyy{
  width: 35px;
}

#howtoplay{
  width:800px;
  height:600px;
  margin:auto;
  border-radius: 50px;
  background-color: #D3D3D3;
  border: 10px solid #BEBEBE;
  font-family: 'Prompt', sans-serif;
  position:fixed;
  transform: translate(-50%, -50%);
  display:none;
  top: 50%;
  left: 50%;
}
#back{
  text-decoration:none;
  font-size:20px;
  height:50px;
  width:110px;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  left:82%;
}


#countdown{
  position: absolute;
  left: 48%;
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
}
#live{
  font-size: 25px;
  width: 90px;
  color:black;
  position:relative;
  z-index: 1001;
  border: 2px solid #1a3131;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  background-color: white;
  top: -110%;
  left: -35%;
}
#time{
  font-size: 25px;
  width: 70px;
  height: 30px;
  color:black;
  position:relative;
  z-index: 1001;
  border: 2px solid #1a3131;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  background-color: white;
  top: -120%;
  left: 115%;
}
#score{
  font-size: 25px;
  color:black;
  width: 50px;
  border: 2px solid #1a3131;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  background-color: white;
  position:relative;
  z-index: 1001;
  top: -85%;
  left: -35%;
}
#play, #how, #web, #know{
  text-decoration:none;
  height:80px;
  width:220px;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: block;
  left: 45vw;
}
#play{
  font-size:20px;
  top: 5vh;
}
#how{
  font-size:15px;
  top:8vh;
}
#know{
  font-size:20px;
  top:11vh;
}
#web{
  font-size:20px;
  top:14vh;
}
#link,#menubut{
  text-decoration:none;
  font-size: 20px;
  padding:10px 20px 10px 20px;
  border-radius:15px;
  margin:70px;
  position: absolute;
  top:80px;
}
#link{
  left:-20px;
  width: 170px;
}
#menubut{
  left:260px;
  width: 120px;
}
button {
  text-transform:uppercase;
  width:200px;
  overflow:hidden;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border: 0px ;
}
button:hover .liquid{
  top:-120px;
}
button h6{
  position:relative;
  z-index:1;
  color:rgb(0, 0, 0);
  font-size:20px;
  letter-spacing:8px;
}

button .liquid{
  position:absolute;
  top:-80px;
  left:0;
  width:220px;
  height:200px;
  background-color:#8ad4ff;
  box-shadow:inset 0 0 50px rgba(0,0,0,0.5);
  transition:0.5s;
}

button .liquid::before,button .liquid::after{
  content:"";
  position:absolute;
  width:200%;
  height:200%;
  top:0;
  left:50%;
  transform:translate(-50%,-72%);
}


button .liquid::before{
  border-radius:45%;
  background-color:rgba(255, 255, 255, 0.5);
  animation: wave 5s linear infinite;
}



button .liquid::after{
  border-radius:40%;
  background-color:rgba(255, 255, 255, 0.5);
  animation: wave 5s linear infinite;
}

@keyframes wave{
  0%{
    transform:translate(-50%,-72%) rotate(0deg); 
  }
  
  100%{
    transform:translate(-50%,-72%) rotate(360deg); 
  }
}
@keyframes hit {
  0% {transform: scale(1);
  }
  100% {transform: scale(1.25);
  }
}
@keyframes alarm {
  0% {transform: scale(1);
    background-color: pink;}
  100% {transform: scale(1.25);
    background-color: red;}
}
@keyframes alarm2 {
  0% {transform: scale(1);
    background-color: white;}
  100% {transform: scale(1.1);
    background-color: pink;}
}
#hitt{
    position: absolute;
    left:48%;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
#plus{
    position: absolute;
    top:24.5%;
    left:31%;
    color:green;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#diff{
  position: absolute;
  top:14.5%;
  left:33.5%;
  color:red;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
@keyframes plus {
  0% {transform: translateY(0%);
    opacity:1;}
  100% {transform: translateY(10%);
    opacity:0;}
}
#knowledge{
  width:800px;
  height:600px;
  margin:auto;
  font-size: 10px;
  padding: 60px;
  border-radius: 50px;
  background-color: #D3D3D3;
  border: 10px solid #BEBEBE;
  font-family: 'Prompt', sans-serif;
  position:fixed;
  transform: translate(-50%, -50%);
  display:none;
  top: 50%;
  left: 50%;
  overflow:auto;
}
.img1{
  width: 150px;
  height: 150px;
  border: none;
  position: relative;
  background-image: url(/img/object7.png);
  background-size: 150px 150px;
  background-position: center;
  display: inline-block;
}
.img2{
  width: 150px;
  height: 150px;
  position: relative;
  background: url(/img/object6.png);
  background-size: 180px 180px;
  background-position: center;
  display: inline-block;
}
.img3{
  width: 150px;
  height: 150px;
  position: relative;
  background: url(/img/object13.png);
  background-size: 180px 180px;
  background-position: center;
  display: inline-block;
}
.img4{
  width: 150px;
  height: 150px;
  position: relative;
  background: url(/img/object4.png);
  background-size: 180px 180px;
  background-position: center;
  display: inline-block;
  top:20px;
}
.img5{
  width: 150px;
  height: 150px;
  position: relative;
  background: url(/img/object1.png);
  background-size: 180px 180px;
  background-position: center;
  display: inline-block;
}
.img6{
  width: 150px;
  height: 150px;
  position: relative;
  background: url(/img/object2.png);
  background-size: 140px 140px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.img7{
  width: 150px;
  height: 150px;
  position: relative;
  background: url(/img/object14.png);
  background-size: 180px 180px;
  background-position: center;
  display: inline-block;
  top:-50px;
}
.textknow{
  margin-bottom: 40px;
  display: inline-block;
  font-size: 20px;
  width: 620px;
  height: 150px;
  position: relative;
  top:0px;
}
.other{
  top: 40px;
}
#back1{
  font-size:20px;
  height:50px;
  width:110px;
  border-radius:15px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top:40px;
  left:90%;
}
